<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <!-- <p *ngIf="showFiller">Expanded</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button> -->

      <app-menu></app-menu>

    </mat-drawer>

    <p>
      <mat-toolbar color="primary">
        <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>

        <span class="mr-1">Sales App</span>

        <span class="example-spacer"></span>

        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>

      </mat-toolbar>
    </p>
  
    <div class="example-sidenav-content">
        <app-categories></app-categories>
        <br>
        <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
        </button>
    </div>
  
</mat-drawer-container>
